paper/*.pdf
slides/*.pdf
*.aux
*.fls
*.log
*.gz
*.fdb_latexmk
*.blg
*.out
*.vok
*.vos
*.vo
*.glob
*.conf
*.coq
*.d
vm/*
sources/*
sources.zip
vm.zip
.vscode/settings.json
.metals/metals.mv.db
slides/slides.nav
slides/slides.vrb
slides/slides.vrb
paper/response-todo.md
paper/response.md
paper/reviews.md
paper/comment.cut
paper/paper_miniactris.idx
paper/paper_miniactris.ilg
paper/paper_miniactris.ind
paper/paper_miniactris.synctex(busy)
*.zip

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

# beamer
*.nav
*.pre
*.snm
*.vrb
*.pyc
